{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
	<div class="min-h-screen bg-gs-green-950 text-white font-['Ovo']">
		<div class="bg-[url(../../public/images/background.png)] bg-cover flex flex-col items-center pt-12 pb-0 px-4 sm:px-6 lg:px-8 h-[calc(100vh-96px)] overflow-hidden md:justify-between">
			<div class="max-w-4xl w-full text-center md:w-[703px]">
				<h1 class="text-4xl text-gray-800 mb-4 font-outfit font-extrabold sm:text-5xl">Mesurez votre empreinte carbone sur le web !</h1>
				
				<p class="text-xl text-gray-600 mb-8 font-outfit font-regular">
					Chaque page que vous chargez consomme de l'énergie. Mesurez votre empreinte et agissez pour un internet plus vert.
				</p>
				
				<div id='browser-plugin-container' class="hidden lg:block">
					<a href="#" class="inline-flex items-center bg-white text-gs-green-950 font-outfit font-regular p-3 rounded-full mx-auto shadow-md shadow-black">
						<img src="{{ asset('/images/firefox.png') }}" alt="Firefox" class="mr-2 h-6 w-6">
						Ajouter à Firefox
					</a>
				</div>
				
				<div id='browser-plugin-container' class="mt-8 lg:hidden flex justify-center">
					<a href="#" class="inline-flex items-center bg-white text-gs-green-950 font-outfit font-regular p-3 rounded-full mx-auto shadow-md shadow-black">
						<img src="{{ asset('/images/firefox.png') }}" alt="Firefox" class="mr-2 h-6 w-6">
						Ajouter à Firefox
					</a>
				</div>
			</div>
			
			<div class="w-full mt-12 md:mt-20">
				<div class="flex justify-between space-x-2 md:hidden">
					<div class="w-[106px] h-[300px] rounded-2xl overflow-hidden mt-3">
						<img 
							src="{{ asset('/images/home-image-mobile1.png') }}" 
							alt="image"
							class="w-full h-full"
						>
					</div>
					<div class="w-[106px] h-[300px] rounded-2xl overflow-hidden">
						<img 
							src="{{ asset('/images/home-image-mobile2.png') }}" 
							alt="image"
							class="w-full h-full"
						>
					</div>
					<div class="w-[106px] h-[300px] rounded-2xl overflow-hidden mt-3">
						<img 
							src="{{ asset('/images/home-image-mobile3.png') }}" 
							alt="image"
							class="w-full h-full"
						>
					</div>
				</div>
				
				<div class="hidden md:flex flex-wrap justify-center md:justify-between lg:justify-between gap-2 md:gap-3 lg:gap-4 max-w-7xl mx-auto px-2 mb-0">
					<div class="hidden lg:block">
						<div class="overflow-hidden rounded-2xl w-[180px] lg:w-[230px] h-[414px]">
							<img 
								src="{{ asset('/images/home-image1.png') }}" 
								alt="image" 
								class="w-full h-full object-fill"
							>
						</div>
					</div>
					
					<div class="hidden md:block pt-8">
						<div class="overflow-hidden rounded-2xl w-[180px] lg:w-[230px] h-[414px]">
							<img 
								src="{{ asset('/images/home-image2.png') }}" 
								alt="image"
								class="w-full h-full object-fill"
							>
						</div>
					</div>
					
					<div class="block">
						<div class="overflow-hidden rounded-2xl w-[140px] md:w-[180px] lg:w-[230px] h-[270px] md:h-[414px]">
							<img 
								src="{{ asset('/images/home-image3.png') }}" 
								alt="image"
								class="w-full h-full object-fill"
							>
						</div>
					</div>
					
					<div class="block pt-8">
						<div class="overflow-hidden rounded-2xl w-[140px] md:w-[180px] lg:w-[230px] h-[270px] md:h-[414px]">
							<img 
								src="{{ asset('/images/home-image4.png') }}" 
								alt="image" 
								class="w-full h-full object-fill"
							>
						</div>
					</div>
					
					<div class="block mb-0 md:hidden lg:block">
						<div class="overflow-hidden rounded-2xl w-[140px] md:w-[180px] lg:w-[230px] h-[270px] md:h-[414px]">
							<img 
								src="{{ asset('/images/home-image5.png') }}" 
								alt="image" 
								class="w-full h-full object-fill"
							>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container mx-auto px-4 md:px-16 py-12">
			<div class="grid lg:grid-cols-2 gap-8">
				<div class="bg-white rounded-lg overflow-hidden hidden lg:block">
					<div class="text-black font-outfit font-regular px-4 py-2 flex items-center gap-2">
						<div class="w-4 h-4 bg-[#6D874B] rounded-full"></div>
						<span class="text-xs font-bold">Web</span>
					</div>
					<div class="h-[200px] lg:h-[400px] flex items-center justify-center">
						<iframe width="100%" height="100%" src="https://www.youtube.com/embed/lAYfNt7web8?autoplay=1&controls=0&mute=1&loop=1&playlist=lAYfNt7web8" title="GreenScore Web Vidéo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="object-cover pointer-events-none"></iframe>
					</div>
				</div>

				<div class="flex flex-col text-center justify-center">
					<h1 class="text-3xl md:text-4xl mb-6">Installer. Analyser. Économiser.</h1>
					<p class="text-lg md:text-xl mb-6 px-4 md:px-28 font-outfit font-extralight">
                        Réduire l'impact de votre site, c'est aussi réduire son empreinte sur la planète. 
                        Utilisez GreenScore Web ! 
                        <span class="hidden md:inline">En vous inscrivant, vous pourrez consulter des tableaux de bords de votre consommation.</span>
                    </p>                    
					<div id='browser-plugin-container' class="hidden lg:block">
						<a href="{{ path('app_login')}}" class="inline-flex items-center bg-white text-gs-green-950 font-outfit font-regular p-3 rounded-full mx-auto shadow-md shadow-black">
                            <span class="mr-4">S'inscrire</span>
                            <span class="bg-gray-200 px-3 py-1.5 rounded-full flex items-center justify-center">
                                <i class="fa-solid fa-arrow-right"></i>
                            </span>
                        </a>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-white text-gs-green-950 py-16 relative">
			<div class="absolute inset-0 -z-0 hidden lg:block overflow-hidden">
				<img src="{{ asset('/images/citation.svg') }}" 
					 class="w-full h-full object-cover md:object-contain"
					 alt="Background">
			</div>
			

			<div class="container mx-auto text-center relative z-1">
				<h2 class="text-3xl md:text-5xl font-regular mb-12 relative px-4 md:px-[40px] font-outfit">
					Des chiffres qui parlent d'eux-mêmes!
				</h2>

				<div class="flex flex-col md:flex-row justify-center items-center gap-8 mb-12">
					<div class="text-center">
						<div class="flex flex-row items-baseline justify-center">
							<h3 class="text-6xl md:text-8xl text-gs-green-950 mr-2">5.5</h3>
							<p class="text-2xl md:text-3xl">milliards</p>
						</div>
						<p class="max-w-70 text-[13px]">C'est le nombre d'utilisateurs d'internet en 2025</p>
					</div>

					<div class="hidden md:block w-12 border-t border-dashed border-gray-500"></div>

					<div class="text-center">
						<div class="flex flex-row items-baseline justify-center">
							<h3 class="text-6xl md:text-8xl text-gs-green-950 mr-2">34</h3>
							<p class="text-2xl md:text-3xl">milliards</p>
						</div>
						<p class="max-w-56 text-[13px]">d'équipements informatiques en 2019</p>
					</div>

					<div class="hidden md:block w-12 border-t border-dashed border-gray-500"></div>

					<div class="text-center">
						<div class="flex flex-row items-baseline justify-center">
							<h3 class="text-6xl md:text-8xl text-gs-green-950 mr-2">47</h3>
							<p class="text-2xl md:text-3xl">%</p>
						</div>
						<p class="max-w-56 text-[13px]">C'est le pourcentage du poids des images sur un site web</p>
					</div>
				</div>

				<div class="flex flex-col md:flex-row justify-center items-center gap-8">
					<div class="text-center">
						<div class="flex flex-row items-baseline justify-center">
							<h3 class="text-6xl md:text-8xl text-gs-green-950 mr-2">300</h3>
							<p class="text-2xl md:text-3xl">K</p>
						</div>
						<p class="max-w-70 text-[13px]">tonnes de CO2 générées par le format vidéo à lui seul</p>
					</div>

					<div class="hidden md:block w-12 border-t border-dashed border-gray-500"></div>

					<div class="text-center">
						<div class="flex flex-row items-baseline justify-center">
							<h3 class="text-6xl md:text-8xl text-gs-green-950 mr-2">15</h3>
							<p class="text-2xl md:text-3xl">%</p>
						</div>
						<p class="max-w-64 text-[13px]">de réduction possible des émissions CO2 en appliquant les bonnes
													pratiques d'éco-conception !</p>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-[#F5F7FF] text-gs-green-950 py-12">
			<div class="container mx-auto px-4 md:px-16">
				<div class="flex justify-center items-center mb-8">
					<h2 class="text-3xl font-outfit font-regular text-center mr-4">Quelques conseils</h2>
					<button id="toggleDevButton" class="bg-black text-white text-xs rounded-full px-4 py-2 flex items-center">
						<span class="mr-2">&lt;/&gt;</span>
						Pour les développeurs
					</button>
				</div>

				<div class="relative px-8 md:px-12">
                    <div class="swiper-container advice-swiper">
                        <div class="swiper-wrapper">
                            {% for item in advice %}
                                <div class="swiper-slide h-full" data-isdev="{{ item.isDev }}">
                                    <div class="bg-white rounded-lg shadow-md p-6 mx-1 h-full flex flex-col">
                                        <div class="flex items-start h-full">
                                            <div class="bg-gs-green-950 p-3 rounded-lg icon-square mr-4 flex-shrink-0">
                                                <i class="{{ item.icon }} text-white text-2xl"></i>
                                            </div>
                                            <div class="flex-grow">
                                                <h3 class="font-outfit font-semibold mb-1">{{ item.title }}</h3>
                                                <p class="text-sm text-gray-600">{{ item.advice }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

					<div class="swiper-button-prev custom-nav-btn absolute left-0 top-1/2 transform -translate-y-1/2 z-10 bg-white rounded-full w-10 h-10 flex items-center justify-center shadow-md"></div>
					<div class="swiper-button-next custom-nav-btn absolute right-0 top-1/2 transform -translate-y-1/2 z-10 bg-white rounded-full w-10 h-10 flex items-center justify-center shadow-md"></div>
				</div>

				<div class="swiper-pagination mt-4"></div>
			</div>
		</div>

		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

		<style>
			.custom-nav-btn:after {
				font-size: 18px;
				color: #1E293B;
			}

			.swiper-button-prev.custom-nav-btn:after,
			.swiper-button-next.custom-nav-btn:after {
				font-weight: bold;
				transform: scale(0.7);
			}

			.custom-nav-btn {
				border-radius: 9999px;
				width: 36px;
				height: 36px;
			}

			.swiper-pagination {
				position: relative;
				bottom: 0;
			}

			.swiper-pagination-bullet-active {
				background-color: #6D874B;
			}

			.advice-swiper {
				overflow: hidden;
				padding: 5px 0;
				max-width: 100%;
				margin: 0 auto;
			}

			.advice-swiper .swiper-slide {
				opacity: 1;
				visibility: visible;
				width: 100%;
			}

			.advice-swiper .swiper-wrapper {
				margin: 0;
				padding: 0;
			}

			.swiper-button-prev.custom-nav-btn {
				left: 5px;
			}

			.swiper-button-next.custom-nav-btn {
				right: 5px;
			}

			.relative.px-8.md\:px-12 {
				display: flex;
				justify-content: center;
			}

			.icon-square {
				width: 50px;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		</style>

		<script>
			let isDevMode = false;
			document.addEventListener('DOMContentLoaded', function () {
				let swiper = null;

				function filterSlides() {
					const slides = document.querySelectorAll('.swiper-slide');
					let visibleSlidesCount = 0;

					slides.forEach(slide => {
						const isDev = slide.getAttribute('data-isdev') === '1';
						if ((isDevMode && !isDev) || (!isDevMode && isDev)) {
							slide.style.display = 'none';
						} else {
							slide.style.display = 'block';
							visibleSlidesCount++;
						}
					});

					if (swiper) {
						if (visibleSlidesCount < slides.length) {
							swiper.loopDestroy();
						} else {
							swiper.loopCreate();
						} swiper.pagination.update();
						swiper.update();
					}
				}

				function initializeSwiper() {
					if (swiper) {
						return;
					}

					swiper = new Swiper('.advice-swiper', {
						slidesPerView: 1,
						spaceBetween: 25,
						loop: false,
						loopFillGroupWithBlank: true,
						pagination: {
							el: '.swiper-pagination',
							clickable: true,
							dynamicBullets: true,
							dynamicMainBullets: 1,
							renderBullet: function (index, className) {
								return '<span class="' + className + '"></span>';
							}
						},
						navigation: {
							nextEl: '.swiper-button-next',
							prevEl: '.swiper-button-prev'
						},
						breakpoints: {
							640: {
								slidesPerView: 1,
								spaceBetween: 25,
								slidesPerGroup: 1
							},
							1024: {
								slidesPerView: 3,
								spaceBetween: 25,
								slidesPerGroup: 3
							}
						},
						speed: 400,
						watchSlidesProgress: true,
						watchSlidesVisibility: true,
						centeredSlides: false,
						initialSlide: 1,
						rewind: true,
						on: {
							init: function () {
								updateNavVisibility();
							},
							resize: function () {
								updateNavVisibility();
							}
						}
					});

					swiper.update();
					swiper.pagination.update();
				}

				function updateNavVisibility() {
					const prevButton = document.querySelector('.swiper-button-prev');
					const nextButton = document.querySelector('.swiper-button-next');
					if (window.innerWidth <= 1024) {
						prevButton.classList.add('swiper-button-hidden');
						nextButton.classList.add('swiper-button-hidden');
					} else {
						prevButton.classList.remove('swiper-button-hidden');
						nextButton.classList.remove('swiper-button-hidden');
					}
				}

				initializeSwiper();
				filterSlides();

				document.querySelector('#toggleDevButton').addEventListener('click', function () {
					isDevMode = !isDevMode;
					this.innerHTML = isDevMode ? '<span class="mr-2"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 inline"><path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6.75A3.75 3.75 0 1 1 12 3a3.75 3.75 0 0 1 3.75 3.75ZM19.5 21v-1.5a6 6 0 0 0-6-6h-3a6 6 0 0 0-6 6V21"/></svg></span> Pour les utilisateurs' : '<span class="mr-2">&lt;/&gt;</span> Pour les développeurs';

					filterSlides();

					if (swiper) {
						swiper.update();
						swiper.pagination.update();
					}
				});

				updateNavVisibility();
				window.addEventListener('resize', updateNavVisibility);
			});
		</script>

		<script src="{{ asset('build/home.js') }}"></script>
	{% endblock %}
