{% extends 'base.html.twig' %}

{% block title %}GreenScore Web - Mon organisation{% endblock %}

{% block body %}
    {{ include('my_account/_message.html.twig') }}

    <div data-controller="my-account" class="px-52 flex flex-col">
        <div class="px-16 py-8 flex items-center gap-x-4">
            <img class="w-[54px] h-auto" src="{{ asset('images/salutation.png') }}" alt="Salutation">
            <h1 class="text-2xl font-bold">Bonjour {{ user.firstName }}!</h1>
        </div>
        <div class="flex px-16 gap-x-16">
            <div class=" flex-grid h-28 min-w-60 drop-shadow-lg bg-white">
                {{ include('my_account/_left_menu_my_organisation.html.twig') }}
            </div>
            <div class="grid gap-y-4 drop-shadow-lg bg-white py-4 px-6 w-full">
                <div class="">
                    <h1 class="text-xl font-semibold">
                        {{ organisation.organisationName }}
                    </h1>
                </div>
                <div class="flex rounded-2xl border border-grey-100 items-center w-full">
                    <div class="border-r border-grey-100 w-full items-center justify-center py-4">
                        <p class="text-grey-950 text-center text-3xl font-outfit font-semibold ">{{ organisation.organisationCode }}</p>
                    </div>
                    <div class="px-4 py-4 flex flex-col items-center justify-center">
                        <img src="{{ asset('/images/clipboard.svg') }}" alt="Copier le texte">
                    </div>
                </div>
                <div class="flex gap-x-4">
                    <button data-action="click->my-account#openModal" type="button" class="w-full h-fit rounded-lg bg-red-600 px-1 py-2 font-semibold font-outfit text-white">Quitter</button>
                    <button data-action="click->my-account#openModal" type="button" class="w-full h-fit rounded-lg bg-blue-600 px-1 py-2 font-semibold font-outfit text-white">Changer d'organisation</button>

                    <div data-controller="my_account">
                        <!-- Modal -->
                        <div data-my-account-target="modal" class="fixed inset-0 bg-black bg-opacity-50 items-center justify-center hidden p-2.5 max-h-28 max-w-[344px]">
                            <div class="flex flex-col bg-white rounded-lg gap-y-2.5 p-2.5">
                                <p class="text-base font-semibold">Êtes vous sur de vouloir quitter l’organisation “{{ organisation.organisationName }}” ?</p>
                                <div class="flex gap-2.5">
                                    <button data-action="click->my-account#closeModal" class="bg-red-900 font-semibold font-outfit text-white px-4 py-2 rounded-md">Annuler</button>
                                    <button data-action="click->my-account#leaveOrga" class="bg-gs-green-950 font-semibold font-outfit text-white px-4 py-2 rounded-md">Oui quitter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}