{% extends 'base.html.twig' %}

{% block title %}{{title}} | GreenScore Web{% endblock %}

{% block body %}

<div class="w-full bg-green-bg min-h-screen">
    <!-- Top -->
    <div class="w-full text-center px-10 lg:px-0 pt-10 font-outfit flex items-center justify-center flex-col text-grey-950">
        <h1 class="text-4xl font-bold">{{title}}</h1>
        {% if not noDatas %}
            <p class="text-base w-fit">
                {{ description }}
                {% if page == 'derniere-page-web-consultee' and link is not null %}
                    <span class="text-base ml-1 w-52 truncate inline-block align-bottom">
                        {{ link }}
                    </span>
                {% endif %}
            </p>
        {% endif %}
    </div>

    {% if not noDatas %}
    <!-- Main Content Grid -->
    <div class="grid grid-cols-1 gap-6 p-10 sm:grid-cols-2 lg:grid-cols-12">
        <!-- Widget 1 -->
        {% if page == 'mes-donnees' %}

            <!-- Carbon Average -->
            <div class="bg-white flex flex-col justify-between gap-2 p-6 rounded-lg shadow-md col-span-1 order-1 lg:col-span-4 text-grey-950">
                {% if myAverageDailyCarbonFootprint is null and averageDailyCarbonFootprint is null %}
                    <p class="text-center text-gray-500 flex items-center justify-center h-full">pas de données</p>
                {% else %}
                    <h2 class="text-lg font-bold text-center font-outfit">Moyenne de l'empreinte carbone sur un jour (en gCO2e)</h2>
                        <div class="flex justify-center gap-5">
                        {% if myAverageDailyCarbonFootprint is not null %}
                            <div class="flex flex-col items-center">
                                <div class="relative text-center">
                                    <svg class="w-20 h-20 rotate-[-90deg]" viewBox="0 0 36 36">
                                        <circle cx="18" cy="18" r="15.9155" class="text-gradient-purple"fill="none" stroke="currentColor" stroke-width="2" stroke-dasharray="0 100" stroke-linecap="round"></circle>
                                    </svg>
                                    <p class="absolute inset-0 flex items-center justify-center text-3xl font-bold text-gradient-purple animate-counter" data-value="{{myAverageDailyCarbonFootprint}}">0</p>
                                </div>
                                <p class="text-sm text-gray-500">Vous</p>
                            </div>
                        {% endif %}
                        {% if averageDailyCarbonFootprint is not null %}
                            <div class="flex flex-col items-center">
                                <div class="relative text-center">
                                    <svg class="w-20 h-20 rotate-[-90deg]" viewBox="0 0 36 36">
                                        <circle cx="18" cy="18" r="15.9155" class="text-gradient-purple" fill="none" stroke="currentColor" stroke-width="2" stroke-dasharray="0 100" stroke-linecap="round"></circle>
                                    </svg>
                                    <p class="absolute inset-0 flex items-center justify-center text-3xl font-bold text-gradient-purple animate-counter" data-value="{{averageDailyCarbonFootprint}}">0</p>
                                </div>
                                <p class="text-sm text-gray-500">Les autres utilisateurs</p>
                            </div>
                        </div>

                        {% if myAverageDailyCarbonFootprint is not null and averageDailyCarbonFootprint is not null and messageAverageFootprint is not null %}
                            <p class="text-sm text-center text-green-700 font-medium mt-4">
                                {{messageAverageFootprint}}
                            </p>
                        {% endif %}
                    {% endif %}
               {% endif %}
            </div>

        {% elseif page == 'mon-organisation' %}

            <!-- Carbon Average -->
            <div class="bg-white flex flex-col justify-start gap-3 p-6 rounded-lg shadow-md col-span-1 order-1 lg:col-span-4 text-grey-950">
                {% if averageFootprint is not null %}
                    <h2 class="text-lg font-bold text-center">Moyenne de l'empreinte carbone sur un jour (en gCO2e)</h2>
                    <div class="flex justify-center gap-5 flex-1 items-center">
                        <div class="flex flex-col items-center">
                            <div class="relative text-center">
                                <svg class="w-20 h-20 rotate-[-90deg]" viewBox="0 0 36 36">
                                    <circle cx="18" cy="18" r="15.9155" class="text-gradient-purple" fill="none" stroke="currentColor" stroke-width="2" stroke-dasharray="0 100" stroke-linecap="round"></circle>
                                </svg>
                                <p class="absolute inset-0 flex items-center justify-center text-3xl font-bold text-gradient-purple animate-counter" data-value="{{averageFootprint}}">0</p>
                            </div>
                        </div>
                        {% if equivalentAverage is not null %}
                            <div class="flex flex-col justify-center">
                                <div class="flex justify-center gap-2">
                                    <picture class="bg-green-300 w-8 h-8 flex items-center justify-center rounded-full">
                                        <img src="{{ asset('/images/equivalent.png') }}" alt="Equivalent" class="w-4 h-4">
                                    </picture>
                                    <h2 class="text-lg font-bold">Equivalent</h2>
                                </div>
                                <p class="text-center mt-2 text-lg font-medium"><span class="animate-counter" data-value="{{equivalentAverage}}">0</span> douches</p>
                          </div>
                        {% else %}
                            <p class="text-center text-gray-500 flex items-center justify-center h-full">pas de données</p>
                        {% endif %}
                    </div>
                {% else %}
                    <p class="text-center text-gray-500 flex items-center justify-center h-full">pas de données</p>
                {% endif %}
            </div>

        {% else %}

        <!-- EcoIndex -->
        <div class="bg-white flex flex-col justify-between gap-3 p-6 rounded-lg shadow-md col-span-1 order-1 lg:col-span-4 text-grey-950 font-outfit">
            <h2 class="text-lg font-bold mb-4 row-span-1">L'impact environnemental</h2>
            {% if url_full is not null %}
                <div class="flex flex-col items-center w-full">
                    <!-- Lettre stylisée -->
                    {% if letterGreenScore is not null %}
                    <a href="https://bff.ecoindex.fr/redirect/?url={{ url_full }}"
                        target="_blank"
                        class="text-2xl flex items-center font-bold hover:scale-105 gap-4 transition-transform duration-200 bg-grey-700 rounded-lg px-4 py-2 shadow-md"
                    >
                        <h1 class="text-xl font-medium text-white">
                            EcoIndex
                        </h1>
                        <div class="w-10 h-10 flex items-center justify-center rounded-full {% if letterGreenScore == 'A' %} bg-[#2e9b43] text-white
                            {% elseif letterGreenScore == 'B' %} bg-[#347851] text-white
                            {% elseif letterGreenScore == 'C' %} bg-[#cadd00] text-black
                            {% elseif letterGreenScore == 'D' %} bg-[#f7ed00] text-black
                            {% elseif letterGreenScore == 'E' %} bg-[#ffce00] text-white
                            {% elseif letterGreenScore == 'F' %} bg-[#fb9929] text-white
                            {% elseif letterGreenScore == 'G' %} bg-[#f01c16] text-white
                            {% else %} bg-gray-300 text-gray-800
                            {% endif %}">
                            <p>
                                {% if letterGreenScore %}
                                    {{ letterGreenScore }}
                                {% else %}
                                    ?
                                {% endif %}
                            </p>
                        </div>
                    {% endif %}
                    </a>

                    <!-- Texte contextuel -->
                    <p class="mt-2 text-xl text-center font-bold w-3/4">
                        {% if letterGreenScore == 'A' %}
                            Ce site est exemplaire 🌱
                        {% elseif letterGreenScore == 'B' %}
                            Très bien, mais le site peut encore être amélioré 👍
                        {% elseif letterGreenScore == 'C' %}
                            Encore un effort pour optimiser ! 🚀
                        {% elseif letterGreenScore == 'D' %}
                            Cette page est gourmande ! 🤔
                        {% elseif letterGreenScore == 'E' %}
                            Les ressources ont besoin d'être optimisées ! ⚡
                        {% elseif letterGreenScore == 'F' %}
                            Impact élevé ! Ce site doit être revu pour être optimum ❗
                        {% elseif letterGreenScore == 'G' %}
                            Outch.
                        {% else %}
                            Pas d'informations disponibles pour ce score.
                        {% endif %}
                    </p>
                </div>
                <p class="text-sm mt-4">
                    La <b>performance environnementale</b> prend en compte la complexité de la page, le poids des données transférées et le nombre de requêtes HTTP.
                </p>
            {% else %}
                <p class="text-center text-gray-500 flex items-center justify-center h-full">Pas de données</p>
            {% endif %}
        </div>



      {% endif %}


      <!-- Widget 2 -->
      {% if page != 'derniere-page-web-consultee' %}

          <!-- Chart -->
          <div class="bg-white flex flex-col p-6 rounded-lg shadow-md col-span-1 sm:col-span-2 order-2 sm:order-3 lg:col-span-4 lg:order-2 text-grey-950">
              <div class="flex flex-col w-full h-full justify-between gap-2">
                  <div class="flex w-full">
                      <h2 class="text-lg font-bold w-full leading-4">Votre consommation </br><span class="text-sm font-normal">(en gCO2e)</span></h2>
                      <select id="filter" class="w-fit h-fit border border-gray-300 rounded-lg px-2 py-1 text-sm">
                          <option value="mois">Mois</option>
                          <option value="semaine">Semaine</option>
                          <option value="jour">Jour</option>
                      </select>
                  </div>
                  <!-- Phrase dynamique -->
                  <p id="dynamic-text" class="text-sm text-gray-600"></p>
                  <div class="relative w-full h-auto">
                      <canvas class="w-full h-auto" id="co2Chart" data-ids="{{ usersIdsCharts }}" data-turbo-permanent></canvas>
                  </div>
              </div>
          </div>

      {% else %}

          <!-- Carbon Intensity  -->
          <div class="bg-white flex flex-col justify-between gap-4 p-6 rounded-lg shadow-md col-span-1 sm:col-span-2 order-2 sm:order-3 lg:col-span-4 lg:order-2">
              {% if country is not null and carbonIntensity is not null %}
                  <div class="flex items-center gap-4">
                      {% if flagUrl %}
                          <img src="{{ flagUrl }}" alt="Drapeau de {{ country }}" class="w-10 h-10 rounded-full object-cover border" loading="lazy">
                      {% else %}
                          <div class="w-10 h-10 rounded-full bg-red-300"></div>
                      {% endif %}
                      <h2 class="text-lg font-bold font-outfit text-grey-950">Vous faites votre recherche depuis ce pays : {{ country }}.</h2>
                  </div>
                  <div class="flex justify-center flex-wrap items-center gap-4">
                      <picture class="flex items-center justify-center mt-4 flex-1">
                          <img src="{{ asset('/images/empreinte_carbone.png') }}" class="w-32 h-auto min-w-[100px]" alt="Empreinte Carbone" loading="lazy">
                      </picture>
                      <div class="flex flex-col justify-center items-center flex-1 font-outfit">
                          <p class="text-6xl font-bold text-[#92bfff] animate-counter" data-value="{{carbonIntensity}}">0</p>
                          <p class="text-xl font-bold">gCO2eq/kWh</p>
                          <p class="text-sm text-center pt-5">Votre empreinte carbonne dépend aussi de l’intensité carbone du pays.</p>
                      </div>
                  </div>
              {% else %}
                  <p class="text-center text-gray-500 flex items-center justify-center h-full">pas de données</p>
              {% endif %}
          </div>

      {% endif %}

        <!-- Widget 3: Badge Environnemental Impact -->
        <div class="flex flex-col bg-gradient-to-tr from-white via-blue-100 to-green-100 p-6 rounded-lg shadow-md col-span-1 order-3 sm:order-2 lg:order-3 lg:col-span-4 text-grey-950 font-outfit">
                <div class="flex flex-col items-center justify-between h-full text-center">
                    <h2 class="text-lg font-bold row-span-1">Badge d'impact environnemental</h2>
                    {% if letterGreenScore is defined and letterGreenScore is not null %}
                        <div class="flex-1 flex items-center justify-center w-full relative">
                            <picture class="w-full h-full flex items-center justify-center">
                                <source
                                    media="(max-width: 768px)"
                                    srcset="{{ asset('images/badges/mobile/' ~ letterGreenScore ~ '.png') }}"
                                >
                                <img
                                    srcset="{{ asset('images/badges/desktop/' ~ letterGreenScore ~ '.svg') }}"
                                    alt="Badge Impact Environnemental {{ letterGreenScore }}"
                                    class="w-[80%] h-auto object-contain"
                                    loading="lazy"
                                >
                            </picture>
                        </div>
                    {% else %}
                        <p class="text-center text-gray-500 flex items-center justify-center h-full">pas de données</p>
                    {% endif %}
                    {% if envNomination is defined and envNomination is not null %}
                        <p class="text-lg font-bold ">
                            {{ envNomination }}
                        </p>
                    {% endif %}
                </div>
        </div>

      <!-- Widget 4: Equivalent 1 -->
      <div class="bg-white flex flex-col items-center justify-center p-6 rounded-lg shadow-md col-span-1 order-4 sm:order-5 lg:col-span-3 lg:order-4 text-grey-950">
          {% if equivalent1 is not null and equivalent1.name is not null and equivalent1.value is not null %}
              <div class="flex justify-center gap-2">
                  <picture class="bg-[#94e9b8] w-8 h-8 flex items-center justify-center rounded-full">
                      <img src="{{ asset('/images/equivalent.png') }}" alt="Equivalent" class="w-4 h-4 rounded-full">
                  </picture>
                  <h2 class="text-lg font-bold font-outfit">Équivalent</h2>
              </div>
              {% if equivalent1.icon is not null %}
                  <picture class="w-24 h-24 flex items-center justify-center mt-4">
                      <img src="{{ images_url ~ 'equivalents/' ~ equivalent1.icon }}" alt="{{equivalent1.name}}" class="w-full h-auto object-contain" loading="lazy">
                  </picture>
              {% endif %}
              <p class="text-center mt-2 text-lg font-medium font-outfit"><span class="animate-counter" data-value="{{equivalent1.value}}">0</span> {{equivalent1.name}}</p>
          {% else %}
              <p class="text-center text-gray-500 flex items-center justify-center h-full">pas de données</p>
          {% endif %}
      </div>


      <!-- Widget 5: Total Consumption -->
      <div class="min-h-[250px] grid grid-row-3 bg-gradient-to-tl to-gradient-purple from-zinc-600  text-white p-6 rounded-lg shadow-md col-span-1 sm:col-span-2 order-5 sm:order-4 lg:col-span-6 text-center lg:order-5">
          <h2 class="font-bold font-outfit row-span-1 flex justify-start">Total de votre consommation :</h2>
          {% if totalConsu is not null and totalConsuUnit is not null %}
              <p class="text-6xl font-extrabold font-outfit mt-4 row-span-2 flex justify-center"><span class="animate-counter" data-value="{{totalConsu}}">0</span>&nbsp;{{totalConsuUnit}}</p>
          {% else %}
              <p class="text-center text-gray-500 flex items-center justify-center h-full">pas de données</p>
          {% endif %}
      </div>


      <!-- Widget 6: Equivalent 2 -->
      <div class="bg-white flex flex-col items-center justify-center p-6 rounded-lg shadow-md col-span-1 order-4 sm:order-5 lg:col-span-3 lg:order-6 font-outfit text-grey-950">
          {% if equivalent2 is not null and equivalent2.name is not null and equivalent2.value is not null %}
              <div class="flex justify-center gap-2">
                  <picture class="bg-[#94e9b8] w-8 h-8 flex items-center justify-center rounded-full">
                      <img src="{{ asset('/images/equivalent.png') }}" alt="Equivalent" class="w-4 h-4">
                  </picture>
                  <h2 class="text-lg font-bold font-outfit">Équivalent</h2>
              </div>
              {% if equivalent2.icon is not null %}
                  <picture class="w-24 h-24 flex items-center justify-center mt-4">
                    <img src="{{ images_url ~ 'equivalents/' ~ equivalent2.icon }}" alt="{{equivalent2.name}}" class="w-full h-auto object-contain" loading="lazy">
                  </picture>
              {% endif %}
              <p class="text-center mt-2 text-lg font-medium"><span class="animate-counter" data-value="{{equivalent2.value}}">0</span> {{equivalent2.name}}</p>
          {% else %}
              <p class="text-center text-gray-500 flex items-center justify-center h-full">pas de données</p>
          {% endif %}
      </div>

      <!-- Widget 7 -->
      {% if page != 'derniere-page-web-consultee'%}

          <!-- Top Polluting Sites -->
          <div class="bg-white p-6 rounded-lg shadow-md col-span-1 sm:col-span-2 lg:col-span-6 flex flex-wrap min-h-[230px] order-7 lg:order-7 text-grey-950">
              <div class="flex flex-col w-full h-auto">
                  <h2 class="text-lg font-bold mb-4">Top 5 des sites les plus polluants</h2>
                  <div class="relative w-full h-[230px]">
                      <canvas id="pollutionChart" data-endpoint="/api/top-sites?usersIds={{ usersIdsCharts }}" data-turbo-permanent></canvas>
                  </div>
              </div>
          </div>

      {% else %}

          <!-- Page in numbers -->
          <div class="bg-white grid grid-row-3 p-6 rounded-lg shadow-md col-span-1 sm:col-span-2 lg:col-span-6 flex-col flex-wrap min-h-[300px] order-7 lg:order-7">
              <h2 class="text-lg font-bold mb-4 row-span-1 font-outfit">La page en quelques chiffres</h2>
              <div class="flex flex-row flex-wrap justify-center w-full h-fit row-span-2 gap-3">
                  {% if pageSize is null and loadingTime is null and queriesQuantity is null %}
                      <p class="text-center text-gray-500 flex items-center justify-center h-full">pas de données</p>
                  {% else %}
                      {% if pageSize is not null and pageSizeUnit is not null %}
                          <div class="flex flex-col flex-1 h-fit items-center">
                              <div class="relative text-center">
                                  <svg class="w-28 h-28 rotate-[-90deg]" viewBox="0 0 36 36">
                                      <circle cx="18" cy="18" r="15.9155" class="text-gradient-purple" fill="none" stroke="currentColor" stroke-width="2" stroke-dasharray="0 100" stroke-linecap="round"></circle>
                                  </svg>
                                  <p class="absolute inset-0 flex items-center justify-center text-3xl font-bold text-gradient-purple"><span class="animate-counter" data-value="{{pageSize}}">0</span>{{pageSizeUnit}}</p>
                              </div>
                              <p class="text-sm text-gray-500">Taille</p>
                          </div>
                      {% endif %}
                      {% if loadingTime is not null %}
                          <div class="flex flex-col flex-1 h-fit items-center">
                              <div class="relative text-center">
                                  <svg class="w-28 h-28 rotate-[-90deg]" viewBox="0 0 36 36">
                                      <circle cx="18" cy="18" r="15.9155" class="text-gradient-purple" fill="none" stroke="currentColor" stroke-width="2" stroke-dasharray="0 100" stroke-linecap="round"></circle>
                                  </svg>
                                  <p class="absolute inset-0 flex items-center justify-center text-3xl font-bold text-gradient-purple"><span class="animate-counter" data-value="{{loadingTime}}">0</span> s</p>
                              </div>
                              <p class="text-sm text-gray-500">Temps de chargement</p>
                          </div>
                      {% endif %}
                      {% if queriesQuantity is not null %}
                          <div class="flex flex-col flex-1 h-fit items-center">
                              <div class="relative text-center">
                                  <svg class="w-28 h-28 rotate-[-90deg]" viewBox="0 0 36 36">
                                      <circle cx="18" cy="18" r="15.9155" class="text-gradient-purple" fill="none" stroke="currentColor" stroke-width="2" stroke-dasharray="0 100" stroke-linecap="round"></circle>
                                  </svg>
                                  <p class="absolute inset-0 flex items-center justify-center text-3xl font-bold text-gradient-purple"><span class="animate-counter" data-value="{{queriesQuantity}}">0</span></p>
                              </div>
                              <p class="text-sm text-gray-500">Nombre de requêtes</p>
                          </div>
                      {% endif %}
                  {% endif %}
              </div>
          </div>

      {% endif %}


      <!-- Widget 8: Tips 1 -->
      <div class="bg-[#94E9B8] p-6 rounded-lg shadow-md col-span-1 lg:col-span-3 flex flex-col justify-between order-8 lg:order-8 font-outfit">
          {% if advice is not null %}
              <div class="flex gap-3 items-start">
                  <div class="bg-white w-8 h-8 flex items-center justify-center rounded-lg">
                      <i class="fa-solid fa-circle-question text-gs-green-800"></i>
                  </div>
                  <h2 class="text-lg font-bold text-white">Des conseils pour la navigation ?</h2>
              </div>
              <p class="text-sm mt-2 text-white">
                  {{advice}}
              </p>
              <div class="flex w-full justify-end">
                  <button class="bg-[#4b7d60] text-white px-4 py-2 mt-4 rounded-lg">En savoir plus</button>
              </div>
          {% else %}
              <p class="text-center text-gray-500 flex items-center justify-center h-full">pas de données</p>
          {% endif %}
      </div>

      <!-- Widget 9: Tips 2 -->
      <div class="bg-[#92BFFF] p-6 rounded-lg shadow-md col-span-1 lg:col-span-3 flex flex-col justify-between order-9 lg:order-9 font-outfit">
          {% if adviceDev is not null %}
              <div class="flex items-start gap-3 text-[#263346]">
                  <div class="bg-white w-8 h-8 flex items-center justify-center rounded-lg">
                      <i class="fa-solid fa-circle-question text-[#263346]"></i>
                  </div>
                  <h2 class="text-lg font-bold text-white">Des conseils pour le développement ?</h2>
              </div>
              <p class="text-sm mt-2 text-white">
                  {{adviceDev}}
              </p>
              <div class="flex w-full justify-end">
                  <button class="bg-[#455a79] text-white px-4 py-2 mt-4 rounded-lg">En savoir plus</button>
              </div>
          {% else %}
              <p class="text-center text-gray-500 flex items-center justify-center h-full">pas de données</p>
          {% endif %}
      </div>

    </div>
    {% else %}
        <div class="w-full h-screen flex items-center justify-center font-outfit">
            {% if page == 'derniere-page-web-consultee' %}
                <p class="text-2xl text-gray-600 font-medium">Vous n'avez pas encore analysé de pages web avec notre plugin</p>
            {% else %}
                <p class="text-2xl text-gray-600 font-medium">Page en construction</p>
            {% endif %}
        </div>
    {% endif %}
    </div>

<script src="{{ asset('build/dashboard.js') }}"></script>

{% endblock %}