{% extends 'base.html.twig' %}

{% block title %}{{title}} | GreenScore Web{% endblock %}

{% block body %}

<div class="w-full bg-green-bg min-h-screen">
    <!-- Top -->
    <div class="w-full text-center px-10 lg:px-0 pt-10 font-outfit flex items-center justify-center flex-col text-grey-950">
        <h1 class="text-4xl font-bold">{{title}}</h1>
        {% if not noDatas %}
            <p class="text-base w-fit">
                {{ description }}
                {% if page == 'derniere-page-web-consultee' and link is not null %}
                    <span class="text-base ml-1 w-52 truncate inline-block align-bottom">
                        {{ link }}
                    </span>
                {% endif %}
            </p>
        {% endif %}
    </div>

    {% if not noDatas %}
    <!-- Main Content Grid -->
    <div class="grid grid-cols-1 gap-6 p-10 sm:grid-cols-2 lg:grid-cols-12">
        <!-- Widget 1 -->
        {% if page == 'mes-donnees' %}

            {% include 'widgets/_user_average_daily_carbon_footprint.html.twig' with {myAverageDailyCarbonFootprint: myAverageDailyCarbonFootprint, averageDailyCarbonFootprint: averageDailyCarbonFootprint, messageAverageFootprint: messageAverageFootprint} %}
            
        {% elseif page == 'mon-organisation' %}

            {% include 'widgets/_organisation_average_daily_carbon_footprint.html.twig' with {averageFootprint: averageFootprint, equivalentAverage: equivalentAverage} %}

        {% else %}

            {% include 'widgets/_infos_green_score.html.twig' with {letterGreenScore: letterGreenScore, equivalentAverage: equivalentAverage} %}

      {% endif %}


      <!-- Widget 2 -->
      {% if page != 'derniere-page-web-consultee' %}

            {% include 'widgets/_chart_consumption_filtered.html.twig' with {usersIdsCharts: usersIdsCharts} %}

      {% else %}

            {% include 'widgets/_country_carbon_intensity.html.twig' with {country: country, carbonIntensity: carbonIntensity, flagUrl: flagUrl} %}

      {% endif %}


        {% include 'widgets/_country_carbon_intensity.html.twig' with {letterGreenScore: letterGreenScore, envNomination: envNomination} %}
        {% include 'widgets/_equivalent.html.twig' with {equivalent: equivalent1, order: 1} %}
        {% include 'widgets/_total_consumption.html.twig' with {totalConsu: totalConsu, totalConsuUnit: totalConsuUnit} %}
        {% include 'widgets/_equivalent.html.twig' with {equivalent: equivalent2, order: 2} %}

      </div>

      <!-- Widget 7 -->
      {% if page != 'derniere-page-web-consultee'%}

        {% include 'widgets/_chart_top5_polluting_sites.html.twig' with {usersIdsCharts: usersIdsCharts} %}

      {% else %}

        {% include 'widgets/_page_in_numbers.html.twig' with {pageSize: pageSize,loadingTime: loadingTime, queriesQuantity: queriesQuantity, pageSizeUnit: pageSizeUnit} %}

      {% endif %}

        {% include 'widgets/_advice.html.twig' with {label: "Des conseils pour la navigation ?", advice: advice} %}
        {% include 'widgets/_advice.html.twig' with {label: "Des conseils pour le développement ?", advice: adviceDev} %}


    </div>
    {% else %}
        <div class="w-full h-screen flex items-center justify-center font-outfit">
            {% if page == 'derniere-page-web-consultee' %}
                <p class="text-2xl text-gray-600 font-medium">Vous n'avez pas encore analysé de pages web avec notre plugin</p>
            {% else %}
                <p class="text-2xl text-gray-600 font-medium">Page en construction</p>
            {% endif %}
        </div>
    {% endif %}
    </div>

<script src="{{ asset('build/dashboard.js') }}"></script>

{% endblock %}