<div class="bg-white flex flex-col items-center justify-center p-6 rounded-lg shadow-md col-span-1 lg:col-span-3 text-grey-950 {% if order == 1 %}order-4 sm:order-5 lg:order-4 {% else %}order-5 sm:order-6 lg:order-6{% endif %}">
    {% if equivalent is not null and equivalent.name is not null and equivalent.value is not null %}
        <div class="flex justify-center gap-2">
            <picture class="bg-[#94e9b8] w-8 h-8 flex items-center justify-center rounded-full">
                <img src="{{ asset('/images/equivalent.png') }}" alt="Equivalent" class="w-4 h-4 rounded-full">
            </picture>
            <h2 class="text-lg font-bold font-outfit">Équivalent</h2>
        </div>
        {% if equivalent.icon is not null %}
            <picture class="w-24 h-24 flex items-center justify-center mt-4">
                <img src="{{ images_url ~ 'equivalents/' ~ equivalent.icon }}" alt="{{equivalent.name}}" class="w-full h-auto object-contain" loading="lazy">
            </picture>
        {% endif %}
        <p class="text-center mt-2 text-lg font-medium font-outfit"><span class="animate-counter" data-value="{{equivalent.value}}">0</span> {{equivalent.name}}</p>
    {% else %}
        <p class="text-center text-gray-500 flex items-center justify-center h-full">pas de données</p>
    {% endif %}
</div>