{% block title %}
    <title>
        GreenScore - Inscription
    </title>
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div class="flex items-center w-screen h-screen">
        <img src="{{ asset("/images/register-image1.png") }}" alt="GreenScore" class="hidden xl:flex w-1/2 h-full object-cover">
        <div class="w-full xl:w-1/2 h-full px-[120px] py-24">
            <div class="flex flex-col gap-10">
                <div class="flex gap-2 items-center">
                    <img src="{{ asset('/images/greenscore-logo.png') }}" alt="GreenScore Logo">
                    <h1 class="text-3xl font-outfit font-extrabold text-gs-green-950">GreenScore</h1>
                </div>
                <div class="flex flex-col gap-4 font-outfit">
                    <h2 class="text-2xl font-extrabold text-grey-950">Prêts à agir ?</h2>
                    <div class="flex gap-[10px] px-1 border border-grey-200 rounded-full py-1 w-fit font-medium">
                        <a href="{{ path('app_login') }}" class="rounded-full px-4 py-1 text-[#979797] decoration-0">
                            J'ai déjà un compte
                        </a>
                        <a href="{{ path('app_register') }}" class="text-white rounded-full px-4 py-1 bg-lime-600 decoration-0">
                            Inscription
                        </a>
                    </div>
                </div>

                    {{ form_start(registrationForm, { attr: { class: 'gap-4' } })}}
                    <div class="flex gap-4 w-full text-grey-700 font-outfit font-semibold text-sm sm:flex-row">
                        <div class="w-full">
                            {{ form_label(registrationForm.firstName) }}
                            {{ form_widget(registrationForm.firstName, { attr: { class: 'px-4 py-2 border border-grey-200 rounded-lg text-grey-700 w-full focus:outline-none' } }) }}
                        </div>
                        <div class="w-full">
                            {{ form_label(registrationForm.lastName) }}
                            {{ form_widget(registrationForm.lastName, { attr: { class: 'px-4 py-2 border border-grey-200 rounded-lg text-grey-700 w-full focus:outline-none' } }) }}
                        </div>
                    </div>

                    <div class="flex gap-4 w-full text-grey-700 font-outfit font-semibold text-sm sm:flex-row">
                        <div class="w-full">
                            {{ form_label(registrationForm.email) }}
                            {{ form_widget(registrationForm.email, { attr: { class: 'px-4 py-2 border border-grey-200 rounded-lg text-grey-700 w-full focus:outline-none' } }) }}
                        </div>
                    </div>


                    <div class="flex gap-2 items-center text-grey-700">
                        {{ form_row(registrationForm.agreeTerms) }}
                        <p class="text-sm font-semibold">En vous inscrivant sur GreenScore, vous acceptez nos conditions générales d'utilisation</p>
                    </div>

                    <button type="submit" class="btn">Register</button>
                    {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
