<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <script src="https://kit.fontawesome.com/713704b44c.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="flex flex-col min-h-screen">
        <header class="flex w-full bg-white py-5 border-b border-grey-100 items-center">
            <div class="flex items-center w-full justify-between px-8">
                <!-- Logo -->
                <img width="55px" height="auto" src="{{ asset('/images/greenscore-logo.png') }}" alt="Logo">

                <!-- Menu desktop -->
                <div class="hidden xl:flex gap-8 items-center">
                    <ul class="flex font-outfit text-grey-950 items-center gap-8 text-lg">
                        <li><a href="#">Informations</a></li>
                        <li><a href="{{ path('app_mes_donnees') }}">Mes données</a></li>
                        <li><a href="{{ path('app_mon_organisation') }}">Mon organisation</a></li>
                        <li><a href="{{ path('app_derniere_page_web_consultee') }}">Dernière page consultée</a></li>
                    </ul>
                    <!-- Icône du profil -->
                    <div class="flex items-center relative">
                        {% if app.user %}
                            <button id="profile-button" class="focus:outline-none">
                                <svg width="34" height="35" viewBox="0 0 34 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="1" width="33" height="33" rx="16.5" stroke="#030712" />
                                    <path d="M27 26.5C27 20.6665 23.3636 16.5001 17 16.5" stroke="#233430" />
                                    <path d="M7 26.5C7 20.6665 10.6364 16.5001 17 16.5" stroke="#233430" />
                                    <circle cx="17" cy="11.5" r="4.5" stroke="#233430" />
                                </svg>
                            </button>
                            <!-- Menu déroulant du profil -->
                            <div id="profile-menu" class="hidden absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg py-2">
                                {% if app.user.roles[0] == 'ROLE_ORGANISATION' %}
                                    <a href="{{ path('app_my_organisation') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Gérer mon organisation</a>
                                {% else %}
                                    <a href="{{ path('app_my_account') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Gérer mon compte</a>
                                {% endif %}
                                <a href="{{ path('app_logout') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100"> Se déconnecter</a>
                            </div>
                        {% else %}
                            <a href="{{ path('app_login') }}" id="profile-button" class="focus:outline-none">
                                <svg width="34" height="35" viewBox="0 0 34 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect x="0.5" y="1" width="33" height="33" rx="16.5" stroke="#030712" />
                                    <path d="M27 26.5C27 20.6665 23.3636 16.5001 17 16.5" stroke="#233430" />
                                    <path d="M7 26.5C7 20.6665 10.6364 16.5001 17 16.5" stroke="#233430" />
                                    <circle cx="17" cy="11.5" r="4.5" stroke="#233430" />
                                </svg>
                            </a>
                        {% endif %}
                    </div>
                </div>

                <!-- Menu burger -->
                <div class="xl:hidden flex items-center">
                    <button id="burger-button" class="focus:outline-none">
                        <!-- Icône menu burger -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 7.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                        </svg>
                    </button>
                </div>
            </div>

            <!-- Menu déroulant pour mobile -->
            <div id="mobile-menu" class="hidden absolute top-20 left-0 w-full bg-white py-5">
                <ul class="flex flex-col font-outfit font-medium text-grey-950 items-center gap-4 text-lg">
                    <li><a href="#">Informations</a></li>
                    <li><a href="{{ path('app_mes_donnees') }}">Mes données</a></li>
                    <li><a href="{{ path('app_mon_organisation') }}">Mon organisation</a></li>
                    <li><a href="{{ path('app_derniere_page_web_consultee') }}">Dernière page consultée</a></li>
                    {% if app.user %}
                        <li><a href="{{ path('app_my_account') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Gérer mon compte</a></li>
                        <li><a href="{{ path('app_logout') }}" class="block px-4 py-2 text-gray-800 hover:bg-gray-100"> Se déconnecter</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                    {% endif %}
                </ul>
            </div>
        </header>

        <main class="flex-grow">
            {% block body %}{% endblock %}
        </main>

        <script src="{{ asset('build/base.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <footer class="bg-gs-green-950 text-white py-6 font-outfit">
            <div class="container mx-auto text-center">
                <p class="text-lg mb-4">© 2025 GreenScore Web. Tous droits réservés.</p>
                <div class="space-x-4">
                    <a href="{{ path('app_get_politique_de_confidentialite') }}" class="hover:text-blue-400">Politique de Confidentialité</a>
                    <span>|</span>
                    <a href="{{ path('app_get_conditions_generales_d_utilisation') }}" class="hover:text-blue-400">Conditions Générales d'Utilisation</a>
                </div>
                <p class="mt-4">Contactez-nous : <a href="mailto:greenscore.plugin@gmail.com" class="hover:text-blue-400">greenscore.plugin@gmail.com</a></p>
            </div>
        </footer>
    </body>
</html>

